.main_loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  inset: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
}

.main_loader_sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  background-color: #575aa8;
  flex: 1;
  transition: height 0.5s linear;
}

.main_loader_sec.mainSecLoaderLoaded {
  height: 0;
}

.main_loader_svg {
  height: 115px;
  margin: auto;
}

.main_loader_svg path {
  fill: none;
}

.main_loader_svg {
  opacity: 1;
  transform: opacity 0.3s linear;
}

.svg-opacity {
  opacity: 0;
  transform: opacity 0.3s linear;
}
