/* home banner css */
:root {
  --font-montserrat: "AvertaStd", sans-serif;
  --font-Averta: "AvertaStd", sans-serif;
  --font-garamond: "Old Standard TT";
  --font-old--standard-tt: "Old Standard TT";
  --color-green: #10312b;
}
body {
  font-size: 16px;
  line-height: 28px;
  float: left;
  color: #000;
}
.__container {
  max-width: 92%;
  text-align: center;
  margin: 0 auto;
}

.web-container {
  width: 85%;
  margin: 0 auto;
}

section {
  padding: 50px 0;
  margin: 0 auto;
}

section.banner {
  padding-top: 30px;
  position: fixed;
  top: 120px;
}
.header {
  margin: 30px 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}
.banner_cnt {
  display: grid;
  grid-template-columns: 5% 62% 33%;
  grid-template-rows: 80vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
}
.banner_image {
  position: relative;
}
.banner_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner_text {
  background-color: rgb(244 245 249);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.banner_text p {
  width: 420px;
  font-size: 70px;
  line-height: 63px;
  color: #000000;
  font-family: "Adobe Garamond Pro";
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner_text button {
  background-color: rgb(71 212 178);
  padding: 25px 40px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 2.4px;
  line-height: 13px;
  text-transform: uppercase;
  color: #181818;
  font-family: "AvertaStd";
  font-weight: 500;
  border-radius: 40px;
  margin-top: 80px;
  width: fit-content;
}

.home_project_image {
  position: relative;
}
.home_project_image:after {
  transition: 1.2s ease-out;
  transition-delay: 0.2s;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  transform: scale(1, 1);
  transform-origin: right center;
  transition: 1s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}

.img_revealed.home_project_image:after {
  transform: scale(0, 1);
}

.about_us_scn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 100%;
  height: 110vh;
  background: rgb(216 223 231);
  display: flex;
  align-items: center;
  position: relative;
}

.DisplayNone {
  display: none;
}
.about_title h3 {
  font-size: 62px;
  letter-spacing: 1px;
  line-height: 52px;
  color: #000000;
  /* font-family: "Adobe Garamond Pro"; */
  text-wrap: wrap;
  font-weight: 400;
  width: 20ch;
  position: relative;
}
.about_title h3:before {
  content: "";
  width: 120px;
  position: absolute;
  top: -40px;
  height: 2px;
  background: #ffb14d;
}
.DefaultPage2AboutTitle h3 {
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: 500;
  /* font-family: "Adobe Garamond Pro"; */
}
p.about_us_cnt {
  font-size: 19px;
  line-height: 1.2;
  color: #000000;
  font-weight: 500;
  font-family: "AvertaStd";
  letter-spacing: 0.5px;
}
.about_us_cnt2 {
  font-size: 17px;
  letter-spacing: 0.6px;
  color: #000;
  margin-top: 12px;
}
a.aboutshow {
  margin-top: 25px;
}
section.service,
section.about_us {
  position: relative;
  display: flex;
  background-color: #fff;
}
section.about_us {
  padding-top: 0;
}

.Faq_cnt {
  width: 80%;
  margin: 0 auto;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.heading {
  width: 100%;
  float: left;
  text-align: center;
  margin-bottom: 20px;
}
.heading h3 {
  font-size: 62px;
  letter-spacing: 1px;
  line-height: 52px;
  color: #000000;
  font-family: "Adobe Garamond Pro";
  text-wrap: wrap;
  font-weight: 400;
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.heading h3:before {
  content: "";
  background: rgb(255 177 77);
  width: 110px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: -40px;
  transform: TRANSLATEX(-50%);
}
.box {
  width: 25%;
  float: left;
  position: relative;
  padding: 50px 0;
}
.box h4 {
  font-size: 25px;
  line-height: 30px;
  margin: 18px 0;
  text-transform: capitalize;
}
.box ul {
  padding-left: 5px;
}
.box ul li {
  margin: 10px 0;
  list-style: none;
  font-weight: 500;
  color: #3c3c3c;
  font-size: 17px;
}
.box:before {
  content: "";
  width: 70px;
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #ec8962;
}
.box:nth-child(6):before,
.box:nth-child(7):before,
.box:nth-child(5):before,
.box:nth-child(4):before {
  opacity: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.box:nth-child(6) .box:nth-child(7) .box:nth-child(5) {
  margin-bottom: 0;
  padding-bottom: 0;
}
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7) {
  margin-bottom: 0;
  padding-bottom: 0;
}
.service-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 10%;
}

.sectionOnHover {
  position: absolute;
  z-index: 12;
  top: 70%;
  right: -110%;
  rotate: -13deg;
  height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
  transform: translate3d(-50%, -50%, 0) scale(0);
  transition: -webkit-transform 0.45s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0, 1),
    -webkit-transform 0.45s cubic-bezier(0.4, 0, 0, 1);
  z-index: 9999;
  width: 280px;
  height: 380px;
}

.sectionOnHover.isVisible {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
  transform: translate3d(-50%, -50%, 0) scale(1);
  z-index: 50 !important;
}

.sectionOnHover img {
  z-index: 115;
  position: relative;
}
@keyframes changeBackgroundImage {
  0% {
    background-image: url("../image/branding-01.png");
  }
  12.5% {
    background-image: url("../image/branding-02.png"); /* Same image as starting to maintain consistency */
  }
  12.6% {
    background-image: url("../image/branding-02.png");
  }
  25% {
    background-image: url("../image/branding-03.png");
  }
  25.1% {
    background-image: url("../image/branding-03.png");
  }
  37.5% {
    background-image: url("../image/branding-04.png");
  }
  37.6% {
    background-image: url("../image/branding-04.png");
  }
  50% {
    background-image: url("../image/branding-05.png");
  }
  50.1% {
    background-image: url("../image/branding-05.png");
  }
  62.5% {
    background-image: url("../image/branding-06.png");
  }
  62.6% {
    background-image: url("../image/branding-06.png");
  }
  75% {
    background-image: url("../image/branding-07.png");
  }
  75.1% {
    background-image: url("../image/branding-07.png");
  }
  87.5% {
    background-image: url("../image/branding-08.png");
  }
  87.6% {
    background-image: url("../image/branding-08.png");
  }
  100% {
    background-image: url("../image/branding-01.png");
  }
}

.sectionOnHover {
  background-color: #d8dfe7;
  animation: changeBackgroundImage 3.4s infinite; /* 8 images * 4 seconds each */
}
.main_container_of_element {
  background-color: #fff !important;
}

.about_us_readmore::after {
  content: "\25BC";
  transform: rotate(271deg);
  position: absolute;
  top: -1px;
  right: -25px;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define slide-out animation */
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* Apply slide-in animation */
.slide-in {
  animation: slideIn 0.5s ease forwards;
}

/* Apply slide-out animation */
.slide-out {
  animation: slideOut 0.5s ease forwards;
}

.readMoreDiv {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
  display: flex;
  flex-direction: column;
}

.readMoreDiv.open {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.collection-list {
  transition: cubic-bezier(0.2, 0.2, 0.118, 1) 0.1 s all 0.2s;
}
.orange_color {
  fill: #ed8a61;
}
.yellow_color {
  fill: #fac96d;
}
.quote2Div p {
  font-size: 21px;
  line-height: 32px;
  font-weight: 500;
}
.quote2Div {
  position: absolute;
  bottom: 18%;
  width: 40%;
  left: 38%;
}
.quotecont svg {
  height: 100px;
  width: 100px;
}
